<h1>Hello Angular routing</h1>
<nav>
  <a
    class="button"
    routerLink=""
    routerLinkActive="activeButton"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a class="button" routerLink="/login" routerLinkActive="activeButton">Login</a>
  <a class="button" routerLink="/todos" routerLinkActive="activeButton">Todos</a>
  <a class="button" routerLink="/users" routerLinkActive="activeButton">Users</a>
  <a class="button" routerLink="profile" routerLinkActive="activeButton">Profile</a>
</nav>
<router-outlet></router-outlet>
