.error {
  color: #b20808
}

.inputError {
  border: 2px solid #b20808;
  background-color: rgba(178, 8, 8, 0.17);
  border-radius: 2px;
}

.inputSuccess {
  border: 2px solid #37a800;
  background-color: rgb(182, 227, 158);
  border-radius: 2px;
}
