.container {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  border: 2px solid brown;
}

.link {
  color: blue;
  text-decoration: none;
  margin-right: 10px;
}

.activeLink {
  color: darkred;
}
